{
	"accounts": [
		{
			"name": "My Checking",
			"bank": "Chase",
			"number": "1234567",
			"bank id": "999999997",
		},

		{
			"name": "Hong Kong Wallet",
			"bank": "self",
			"number": "7",
			"currency": "HKD"
		},

		{
			"name": "Fidelity Brokerage",
			"bank": "Fidelity Investments",
			"type": "investment",
			"number": "X999999999",
		},

		{
			"name": "Chase Freedom",
			"bank": "Chase",
			"type": "credit card",
			"number": "1234 5678 9012 3456"
		}
	],
	"currencies": [
		{
			"rate": 0.0028571428,
			"code": "BTC",
			"name": "Bitcoin",
			"decimal_places": 8,
			"prefix": "฿"
		},
		{
			"rate": 0.26,
			"code": "PLN",
			"name": "Polish Zloty",
			"suffix": "zł"
		}
	]
}
